.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 0 32px;
  max-width: 720px;
  white-space: pre-wrap;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    min-width: 300px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
    padding: 0 16px;
  }
}