.lead__title {
  text-align: center;
  font-weight: 900;
  white-space: pre-wrap;
  max-width: 720px;
  font-size: 40px;
  line-height: 44px;
  margin: 0 0 16px 0;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    margin: 0 0 24px 0;
  }
}