.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 40px;
}

@media screen and (min-width: 1024px) {
  .place {
    gap: 32px 40px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px 28px;
    position: relative;
    left: -16px;
  }
}